
    <footer>
        &copy; copyright | All rights reserved | App Creator
    </footer>
    <script>
      const deleteItem = (y) => {
          const box = document.getElementById(y);
          y.remove();
      }
    </script>
    </body>
</html>